<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locasys</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
<div id="auth">
    <!--  Alerts -->
    <div class="toast-container position-fixed top-0 end-0 p-3" th:if="${param.denied}">
        <div aria-atomic="true" aria-live="assertive"
             class="toast align-items-center border-0 text-center" role="alert"
             style="background-color: red; color: white;">
            <div class="toast-body">
                <strong><i class="fa fa-2xl fa-ban fa-shake"></i></strong>
                <hr>
                <p>Nom ou mot de passe incorrecte.</p>
                <button aria-label="Close" class="btn-close btn-close-white me-2 mb-4 m-auto" data-bs-dismiss="toast"
                        type="button"></button>
            </div>
        </div>
    </div>
    <div class="toast-container position-fixed top-0 end-0 p-3" th:if="${param.expired}">
        <div aria-atomic="true" aria-live="assertive"
             class="toast align-items-center bg-info border-0 text-center" role="alert">
            <div class="toast-body text-white">
                <strong><i class="fa fa-2xl fa-info-circle fa-fade"></i></strong>
                <hr>
                <p>Votre session a expiré !</p>
                <p>Veuillez vous reconnecter pour une nouvelle session</p>
                <button aria-label="Close" class="btn-close btn-close-white me-2 mb-4 m-auto" data-bs-dismiss="toast"
                        type="button"></button>
            </div>

        </div>
    </div>
    <div class="toast-container position-fixed top-0 end-0 p-3" th:if="${param.compteSuspendu}">
        <div aria-atomic="true" aria-live="assertive"
             class="toast align-items-center border-0 bg-warning text-dark text-center" role="alert">
            <div class="toast-body">
                <strong><i class="fa fa-2xl fa-warning fa-fade"></i></strong>
                <hr>
                <p>Votre compte a été suspendu !</p>
                <p>Veuillez contacter un administrateur pour plus d'informations. Merci.</p>
                <button aria-label="Close" class="btn-close btn-close-white me-2 mb-4 m-auto" data-bs-dismiss="toast"
                        type="button"></button>
            </div>
        </div>
    </div>
    <div class="row h-100">
        <div class="col-lg-5 col-12">
            <div id="auth-left">
                <div class="auth-logo">
                    <a href="#"><img th:src="@{/images/logo/logo.jpg}" alt="Logo"></a>
                </div>

                <h1 class="text-center">Locasys</h1>
                <p class="auth-subtitle text-center mb-5">Authentification.</p>

                <form method="post" th:action="@{/login}">
                    <input hidden th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input id="username" required name="username" type="text" class="form-control form-control-xl"
                               placeholder="Nom d'utilisateur">
                        <div class="form-control-icon">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input id="password" required name="password" type="password"
                               class="form-control form-control-xl"
                               placeholder="Mot de passe">
                        <div class="form-control-icon">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Se connecter</button>
                </form>
                <div class="text-center mt-5 text-lg fs-4">
                    <p><a class="font-bold" href="/forgot-password">Mot de passe oublié?</a>.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
            <div id="auth-right">

            </div>
        </div>
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl, {autohide: true, delay: 5000})
        })
        toastList.forEach(toast => toast.show())
    });
</script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>